import './App.css'
import background from './background.png'
import './index.css'

function App() {
  return (
    <div
      style={{
        backgroundImage: `url(${background})`,
        backgroundSize: 'cover',
        backgroundPosition: 'center',
        backgroundRepeat: 'no-repeat',
        minHeight: '100vh',
        display: 'flex',
        alignItems: 'center',
        justifyContent: 'center',
      }}
    >
      <h1
        style={{
          color: '#004080',
          backgroundColor: 'rgba(255,255,255,0.8)',
          padding: '1rem',
          borderRadius: '10px',
        }}
      >
        Bem-vindo à Pokédex!
      </h1>
    </div>
  )
}

export default App